/* Base Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100%;
    background: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

main {
    margin: 0;
    padding: 1px;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
    min-height: 90vh;
}

main .container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: row;
    padding: 3rem;
    padding-top: 6rem;
}

main .container .col1,
main .container .col2 {
    width: 50%;
}

/* Top Section */

.logo {
    width: 100%;
    display: inline-block;
}

h1 {
    font-weight: 400;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

p {
    font-weight: 400;
    padding: 1rem;
    line-height: 1rem;
    font-size: 0.9907rem;
}

h4 {
    margin: 0.75rem;
    font-weight: 500;
    font-size: 1.1rem;
}

#countdown {
    text-align: left;
    margin: 0;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}

#apply {
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}

#tagline {
    font-weight: 400;
    line-height: 1rem;
    margin: 0;
    font-size: 1.1146rem;
    width: 87%;
    text-align: left;
    line-height: 2rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#financing-title {
    margin-bottom: 0;
}

.subtitle {
    text-align: left;
    font-size: 1.1146rem;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#call-action {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.line {
    width: 347px;
    height: 2px;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    ;
}

/* Form */
#mobile-form {
    display: none;
}

.box {
    border: 0.1875rem solid #d5c900;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 75%;
}

.rectangle {
    background-color: rgb(213, 201, 0);
    color: #ffff;
    font-weight: 400;
    width: 100%;
    padding: 1em;
    font-size: 1.25rem;
}

form {
    font-size: 1.25rem;
    background-color: #ffff;
    padding: 1rem;
    padding-bottom: 2em;
    width: auto;
    margin: auto;
    position: relative;
}

form label {
    padding-bottom: 0;
}

label {
    margin: 0.3125rem 0 0;
    line-height: 1.1;
    width: 100%;
    padding: 0.75rem;
    display: inline-block;
    font-size: .89375rem;
    text-align: left;
    font-weight: 400;
}

input {
    background-color: #ffff;
    border: 1px solid #cecece;
    border-radius: 3px;
    width: 100%;
    height: 43px;
    margin: 0.5rem 0;
    padding: .5rem .625rem .5625rem;
    display: flex;
}

button {
    background: #000000;
    color: #ffff;
    font-size: 1.3003rem;
    font-weight: 700;
    height: 3.6875rem;
    width: 90%;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}

/* Checkmarks Section and Call-to-Action */
.list-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: left;
}

.list-container p {
    position: relative;
    font-size: 0.9907rem;
    display: inline-block;
    padding: 5px 1rem 1rem 40px;
    line-height: 1.4em;
}

#first-checkmark {
    margin-top: 1rem;
}

.list-container p::before {
    position: absolute;
    content: url(../img/checkmark.png);
    margin-right: 10px;
    left: 0;
    top: 0;
}

.list-container h4 {
    width: 100%;
    padding-bottom: 0;
    font-size: 1.1146rem;
    margin: 0;
}

#factoring-list {
    padding: 0;
}

#last-call {
    font-size: 24px;
    padding: 0;
    margin-top: 1.5rem;
    width: 53%;
}

/* Footer */
footer {
    background-color: rgb(45, 45, 45);
    height: 4.3125rem;
    margin: 0;
    padding: 1px;
    min-height: 10vh;
}

.copyright {
    color: #ffff;
    text-align: center;
    font-size: 0.8669rem;
    word-wrap: break-word;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    padding: 0;
}

/*Media Queries */

/* Mobile */
@media screen and (max-width: 600px) {
    main {
        background-position: 38%;
    }

    main .container {
        max-width: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    main .container .col1,
    main .container .col2 {
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-top: 1rem;
    }

    h1 {
        text-align: center;
        line-height: 1.9375rem;
        font-size: 1.5rem;
    }

    #financing-title {
        font-size: 1.6rem;
        line-height: 2.125rem;
        text-align: center;
        margin-top: 1rem;
    }

    h2 {
        text-align: center;
    }

    #apply {
        text-align: center;
    }

    .subtitle {
        font-size: 0.95rem;
        text-align: center;
        margin-top: 0.75rem;
    }

    #tagline {
        margin: 0;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
        line-height: 1.25rem;
        font-size: 1rem;
    }

    #call-action {
        text-align: center;
        width: 66%;
        margin: auto;
    }

    #countdown {
        text-align: center;
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }

    .line {
        display: none;
    }

    .list-container h4 {
        text-align: center;
        font-size: 0.95rem;
        width: 90%;
        margin: auto;
    }

    .list-container {
        margin-top: 2rem;
    }

    .lending-checks {
        margin-left: 3rem;
    }

    .list-container p {
        font-size: 0.92rem;
        margin-left: 1rem;
    }

    .list-container p::before {
        margin-right: 15px;
    }

    #last-call {
        margin: auto;
        width: 78%;
        text-align: center;
        margin-top: 2rem;
    }

    .box {
        width: 100%;
        margin-bottom: 2rem;
    }

    label {
        font-size: 1.13rem;
    }

    #desktop-form {
        display: none;
    }

    #mobile-form {
        display: inline-block;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    main .container {
        padding: 0;
        margin: 2rem;
        margin-top: 5rem;
    }

    .logo {
        margin-left: 8rem;
        margin-right: 8rem;
        width: 120%;
    }

    .box {
        width: 95%;
        margin: 0;
        margin-left: 1rem;
        margin-top: 5rem;
    }

    h1,
    h2,
    #apply,
    #tagline,
    .subtitle,
    #countdown {
        text-align: center;
    }

    #tagline {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .line {
        width: 100%;
    }

    .list-container h4 {
        text-align: center;
        margin-top: 1rem;
    }

    .lending-checks {
        margin-left: 4rem;
    }

    #call-action {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #last-call {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    main {
        background-position: 63%;
    }

    main .container {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
        padding: 0;
    }

    .box {
        height: 38.25rem;
        width: 23.25rem;
        margin-left: 5rem;
    }

    form {
        padding-bottom: 3.9em;
    }

    form label {
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 26rem;
    }

    h1 {
        margin-bottom: 0;
    }

    #financing-title {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 1rem;
        margin-top: 0.75rem;
    }

    #countdown {
        font-size: 1rem;
    }

    .checkmark-info p {
        font-size: 0.85rem;
    }

    #last-call {
        width: 57%;
        margin-top: 0.5rem;
    }
}