/* Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100%;
  background: #ffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

main {
  margin: 0;
  padding: 1px;
  text-align: center;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 38%;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}

/* Top Section */

.logo {
  width: 100%;
  display: inline-block;
  padding: 1.5rem;
  padding-bottom: 0.75rem;
}

h1 {
  font-weight: 500;
  font-size: 1.7337rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

p {
  font-weight: 400;
  padding: 0.25rem;
  font-size: 0.9907rem;
}

h4 {
  margin: 0.75rem;
  font-weight: 500;
  font-size: 1.1rem;
}

#countdown {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
}

/* Form */
.box {
  border: 0.1875rem solid #d5c900;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  height: auto;
}

.rectangle {
  background-color: rgb(213, 201, 0);
  color: #ffff;
  font-weight: 400;
  width: 100%;
  height: 5.1875rem;
  padding: 1.5rem;
  font-size: 1.25rem;
}

form {
  font-size: 1.25rem;
  background-color: #ffff;
  padding: 1rem;
  padding-bottom: 5rem;
}

label {
  margin: 0.3125rem 0 0;
  line-height: 1.1;
  width: 100%;
  padding: 0.75rem;
  display: inline-block;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 400;
}

input {
  background-color: #ffff;
  border: 1px solid #cecece;
  border-radius: 3px;
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.625rem 0.5625rem;
}

button {
  background: #000000;
  color: #ffff;
  font-size: 1.3003rem;
  font-weight: 700;
  height: 3.6875rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}

/* Checkmarks Section and Call-to-Action */
.list-container {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.checkmark-info {
  display: inline-block;
  padding: 0.5rem;
}

.checkmark {
  width: 10%;
}

.list-container p {
  width: 85%;
  line-height: 1.375rem;
  font-size: 0.9907rem;
  text-align: left;
  word-wrap: break-word;
  display: inline-block;
  padding: 0;
  margin-left: 0.5rem;
}

.list-container h1 {
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

/* Footer */
footer {
  background-color: rgb(45, 45, 45);
  height: 6rem;
  margin: 0;
  padding: 1px;
}

.copyright {
  color: #ffff;
  text-align: center;
  font-size: 0.8669rem;
  word-wrap: break-word;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media Queries */

/* Tablet */
@media only screen and (min-width: 768px) {
  main {
    background-position: 45%;
  }

  .logo {
    width: 70%;
  }

  .copyright {
    font-size: 1rem;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
}
